.box {
  width: 400px;
  background-color: white;
  margin: 14px 15px;
}

@media screen and (max-width: 800px) {
  .box {
    width: auto;
    background-color: white;
  }
}

.box-content {
  display: flex;
  width: 100%;
  padding: 25px 23px;
  border-bottom: 0.4px solid rgba(223, 223, 223, 1);
  font-weight: normal;
  cursor: pointer;
  font-size: 20px;
  color: black;
}

.cycle-div {
  margin-right: 12px;
  font-size: 16px;
  text-align: center;
  border-radius: 50%;
  width: 28px;
  background-color: #5384ff;
  height: 27px;
  color: white;
  font-weight: bold;
  padding: 3px;
}

.box-header {
  justify-content: space-between;
  display: flex;
  font-size: medium;
  padding: 9px 10px;
  border-bottom: 0.8px solid rgba(223, 223, 223, 1);
  font-weight: bold;
}

.cycle-container {
  display: flex;
}

.p {
  font-size: 11px;
  font-weight: bolder;
  padding-bottom: 2px;
}

.content {
  display: inline-grid;
}

.icon-style {
  color: #f83c7b;
  font-size: 11px;
}
